@import "../styles/reset.scss";

.blogImage{
    @include desktop(){
        width: 400px;
    }
    width: 200px;
    box-shadow: 2px 2px 5px $black;
}
.content {
    // @include desktop() {
    //     margin: 20px 5px;
    // }
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    background: $white;
    padding: 5px;
    border-radius: 5px;
    p {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    h1 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        @include desktop() {
            padding: 20px;
        }
        padding:20px 0;
        text-shadow: 2px 2px 2px $white;
    }
    ul {
        margin: 15px;
        // border-top: 1px solid $blue;
    }
    ol {
        margin: 15px;
    }
    img {
        justify-content: center;
        align-items: center;
    }
    span {
        font-weight: bolder;
        padding: 5px;
    }
}
.boldText {
    text-shadow: 1px 1px 1px $black;
}
.imbedImage {
    width: 100%;
    max-width: 600px;
    align-self: center;
    border-radius: 3px;
    box-shadow: 4px 4px 2px darken($grey, 10%);

}
.meta {
    font-size: 1rem;
}