html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

button:focus {
  outline: 0;
}

h1 {
  font-family: 'Muli', sans-serif;
}

h2 {
  font-family: 'Jaldi', sans-serif;
}

h3, h4, h5, h6, p, li {
  font-family: 'Molengo', sans-serif;
}

.gutsContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 950px) {
  .gutsContainer {
    flex-direction: row;
  }
}

.fadeOutMap {
  display: none;
}

@media (min-width: 950px) {
  .fadeOutMap {
    opacity: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
    display: flex;
    width: 25%;
  }
  .fadeOutMap img {
    height: 75%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
  }
}

.fadeInMap {
  display: none;
}

@media (min-width: 950px) {
  .fadeInMap {
    opacity: 1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
    display: flex;
    width: 25%;
  }
  .fadeInMap img {
    height: 75%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    margin-left: auto;
  }
}

.fadeOutLogo {
  opacity: 0;
  display: flex;
  width: 50%;
}

@media (min-width: 950px) {
  .fadeOutLogo {
    opacity: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
    width: 25%;
  }
}

.fadeOutLogo img {
  height: 50%;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  margin-left: auto;
}

@media (min-width: 950px) {
  .fadeOutLogo img {
    height: 60%;
  }
}

.fadeInLogo {
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  display: flex;
  width: 50%;
  text-align: center;
}

@media (min-width: 950px) {
  .fadeInLogo {
    width: 25%;
  }
}

.fadeInLogo img {
  height: 50%;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  margin-left: auto;
}

@media (min-width: 950px) {
  .fadeInLogo img {
    height: 60%;
  }
}
