@import "./reset.scss";
//styles for phone number and Menu list
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @include desktop() {
        align-items: center;
        width: 40%;
    }
    h1 {
        color: $white;
        text-shadow: 2px 1px 1px $red;
        font-size: 1.5rem;
        // margin: '20px';
        align-self: flex-end;
        padding: 5px 5px 0 0;
        @include desktop() {
            align-self: center;
            font-size: 2.5rem;
            font-weight: 500;
            height: 50%;
        }
    }

}
.links {
    display: none;
    @include desktop() {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: $white;
            text-shadow: 2px 1px 1px $black;
            h2 {
                font-size: 1.4rem;
                font-weight: 500;
            }
            
        }
    }
}