/* Coolors Exported Palette - coolors.co/a31621-fcf7f8-ced3dc-4e8098-363636 */

/* HSL */
$color1: hsla(355%, 76%, 36%, 1);
$color2: hsla(348%, 45%, 98%, 1);
$color3: hsla(219%, 17%, 84%, 1);
$color4: hsla(199%, 32%, 45%, 1);
$color5: hsla(0%, 0%, 21%, 1);

/* RGB */
$color1: rgba(163, 22, 33, 1);
$color2: rgba(252, 247, 248, 1);
$color3: rgba(78, 128, 152, 1);
$color4: rgba(78, 128, 152, 1);
$color5: rgba(54, 54, 54, 1);