//for blog page not landing
@import "../../styles/reset.scss";
.inner {
    display: flex;
    flex-direction: column;
    p {
        margin: 30px;
        line-height: 1.2;
    }
    ul {
        list-style: disc;
        margin-left: 20px;
        padding-left: 20px;
        li{
            margin-left: 10px;
        }
        li p {
            // margin: 5px;
            line-height: 1;
        }
    }
    ol {
        margin: 15px;
    }
    margin-top: 10px;
} 
.imbedImage {
    width: 100%;
    max-width: 350px;
    align-self: center;
    border-radius: 3px;
    box-shadow: 4px 4px 2px darken($grey, 10%);

}
.boldText {
    text-shadow: 1px 1px 1px $black;
}